client/node_modules/
client/bower_components/
client/coverage/
client/.sass-cache/
client/.idea/
client/.tmp/
client/dist/

client2/node_modules/
client2/bower_components/
client2/coverage/
client2/.sass-cache/
client2/.idea/
client2/.tmp/
client2/dist/


server/node_modules/
